<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>32</TotalTime><Pages>40</Pages><Words>50763</Words><Characters>289352</Characters><Application>Microsoft Macintosh Word</Application><DocSecurity>0</DocSecurity><Lines>2411</Lines><Paragraphs>678</Paragraphs><ScaleCrop>false</ScaleCrop><Company>UC Berkeley</Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>339437</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>14.0000</AppVersion></Properties>