table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed; 
  word-wrap:break-word; 
}

 .jrnlRefHead {
    font-size: 26px;
    color: #134985;
    /*font-weight:bold;*/
    text-align:left;
    /*border-bottom:2pt solid #134985;*/
}
.jrnlRefSubHead{
    font-size: 24px !important;
    color: #134985 !important;
    text-align:left;
    font-weight:bold;
}
 p{
    cursor: pointer;
}
p:hover{
    border-bottom: 1px solid;
    border-top: 1px solid;
}
.selectedRef{
    background-color: rgba(255, 218, 41, 0.23);
    border-bottom: 1px solid #FFD700;
    border-top: 1px solid #FFD700;
    cursor: pointer;
}
 .jrnlRefText{
    color: red;
    font-size: 16px !important;
    font-weight: bolder !important;
    line-height: 175% !important;
    padding-left: 20px;
}
 .jrnlRefText {
    color:black !important;
    font-size: 14px !important;
    font-weight: normal !important;
    line-height: 175% !important;
    padding-bottom: 5px;
}
 .jrnlRefAnnotation, .jrnlRefAnnotation {
    color: #5757FF !important;
    font-size: 12px !important;
    line-height: 150% !important;
    padding: 0 20px 10px 20px;
}
 .RefTextError,  .RefTextError, .RefTextError {
    background-color: red;
    color: black !important;
}
/*
 .noPMID {
    border: 1pt solid red;
    paddding: 5px !important;
}
*/
 .book{
    color : #F5F5DC;
}
 .conf-proc{
    color : #00FFFF;
}
.journal{
    color : #98FB98;
}
.other{
    color : #FFC0CB;
}
 .patent{
    color : #87CEFA;
}
 .web{
    color : #DDA0DD;
}
 .RefArticleTitle,  .RefArticleTitle, .RefArticleTitle{
    color : #F99500;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefAuthor, .RefAuthor, .RefAuthor{
    border: 1pt solid #285C5B !important;
    color: #388E8E;
    font-size: 14px !important;
    font-weight: normal !important;
    padding: 0 5px;
}
 .RefAuthor, .RefAuthor{
    display: inline-block;
}
 .RefBookTitle, .RefBookTitle, .RefBookTitle{
    border-bottom: 1pt solid #000000;
    color : #065658;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefTransTitle,  .RefTransTitle, .RefTransTitle{
    border-top: 1pt solid #000000;
    border-bottom: 1pt solid #000000;
    color : #0A8E92;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefBookSeries,  .RefBookSeries, .RefBookSeries{
    border-bottom: 1pt solid #0000FF;
    border-top: 1pt solid #0000FF;
    color: #FFD700;
    font-size: 14px !important;
}
 .RefChapterTitle,  .RefChapterTitle, .RefChapterTitle{
    color : #22AD73;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefCollaboration,  .RefCollaboration, .RefCollaboration{
    color : #4682B4;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefComments, .RefComments, .RefComments{
    color : #FF00FF;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefInPress,  .RefInPress, .RefInPress{
    color : #B00058;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefConfDate,  .RefConfDate, .RefConfDate{
    color : #808080;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefConfLoc,  .RefConfLoc, .RefConfLoc{
    color : #000080;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefConfName,  .RefConfName, .RefConfName,  .RefThesis,  .RefThesis, .RefThesis{
    color : #800000;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefConfSponsor,  .RefConfSponsor, .RefConfSponsor{
    color : #8B4513;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefConfTitle,  .RefConfTitle, .RefConfTitle{
    color : #BDB76B;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefDay,  .RefDay, .RefDay{
    color : #4B0082;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefDiss,  .RefDiss, .RefDiss{
    color : #8A2BE2;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefDissLoc,  .RefDissLoc, .RefDissLoc{
    color : #7CFC00;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefDissUniv,  .RefDissUniv, .RefDissUniv{
    color : #3CB371;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefDOI,  .RefDOI, .RefDOI, .RefAOP{
    color : #800080;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefEdition,  .RefEdition, .RefEdition{
    color : #008080;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefEditor,  .RefEditor, .RefEditor{
    border: 1pt solid #510101 !important;
    color: #801C1C;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefComment,  .RefComment, .RefComment{
    color: #636465;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefEtal,  .RefEtal, .RefEtal{
    color : #D2691E;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefFPage,  .RefFPage, .RefFPage{
    color : #FF6347;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefGivename,  .RefGivenname, .RefGivenname{
    color : orange;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefISBN,  .RefISBN, .RefISBN{
    color : #00FF00;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefIssue,  .RefIssue, .RefIssue{
    color : rgba(211, 6, 210, 0.68);
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefJournalTitle,  .RefJournalTitle, .RefJournalTitle{
    color : #808000;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefLAD,  .RefLAD, .RefLAD{
    color : #556B2F;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefLPage,  .RefLPage, .RefLPage{
    color : #008000;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefMonth,  .RefMonth, .RefMonth{
    color : #2F4F4F;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefPublisherLoc,  .RefPublisherLoc, .RefPublisherLoc{
    color : #CD853F;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefPublisherName,  .RefPublisherName, .RefPublisherName{
    color : #FF1493;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefSlNo,  .RefSlNo, .RefSlNo{
    color : #D55B6F;
    font-size: 14px !important;
    font-weight: normal !important;
    /*float: left;
    margin-left: -20px;*/
}
 .RefSuffix,  .RefSuffix, .RefSuffix{
    color : #8B5F65;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefSurname,  .RefSurname, .RefSurname{
    color : #3852B0;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefVolume,  .RefVolume, .RefVolume{
    color : #8B008B;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefWebSite,  .RefWebSite, .RefWebSite{
    color : #0000FF;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefPatent,  .RefPatent, .RefPatent{
    color : #CD326C;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefYear,  .RefYear, .RefYear{
    color : #DC143C;
    font-size: 14px !important;
    font-weight: normal !important;
}
 .RefUrl,  .RefUrl, .RefUrl{
    color : blue;
    font-size: 14px !important;
    font-weight: normal !important;
}
 p {
    color: #FF0000;
    font-size: 14px;
    line-height: 250% !important;
    text-align: justify;
}

.RefArticleTitle, .RefAuthor, .RefBookTitle, .RefChapterTitle, .RefCollaboration, .RefComments, .RefConfDate, .RefConfLoc, .RefConfName, .RefConfSponsor, .RefConfTitle, .RefDay, .RefDiss, .RefDissLoc, .RefDissUniv, .RefDOI, .RefAOP, .RefEdition, .RefEditor, .RefEtal, .RefFPage, .RefGivenName, .RefISBN, .RefIssue, .RefJournalTitle, .RefLAD, .RefLPage, .RefMonth, .RefPublisherLoc, .RefPublisherName, .RefSlNo, .RefSuffix, .RefSurName, .RefVolume, .RefWebSite, .RefYear, .RefUrl {
    /*font-size: 12px !important;*/
}

                        td.details-control {
                            background: url('https://drive.google.com/uc?id=1SN5WXMMl7pieG0eAUqmzpJUJXBG96fUA') no-repeat center center;
                            cursor: pointer;
                        }

                        tr.shown td.details-control {
                            background: url('https://drive.google.com/uc?id=1_Q-RzMR6xTw_-qPTKiaaduYuFnyK86h5') no-repeat center center;
                        }
                        html,body{height:100%;margin:0;padding:0;}
.container-fluid,.row{height:1000px;background-color:#D3D3D3}
.board-container{padding:40px;box-sizing:border-box}
.board{background-color:#fff;height:100%;padding:40px;}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.lds-spinner {
  position: relative;
}
.lds-spinner div {
  left: 94px;
  top: 48px;
  position: absolute;
  -webkit-animation: lds-spinner linear 1s infinite;
  animation: lds-spinner linear 1s infinite;
  background: #4ae222;
  width: 12px;
  height: 24px;
  border-radius: 40%;
  -webkit-transform-origin: 6px 52px;
  transform-origin: 6px 52px;
}
.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -0.916666666666667s;
  animation-delay: -0.916666666666667s;
}
.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-animation-delay: -0.833333333333333s;
  animation-delay: -0.833333333333333s;
}
.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}
.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation-delay: -0.666666666666667s;
  animation-delay: -0.666666666666667s;
}
.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-animation-delay: -0.583333333333333s;
  animation-delay: -0.583333333333333s;
}
.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.416666666666667s;
  animation-delay: -0.416666666666667s;
}
.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
  -webkit-animation-delay: -0.333333333333333s;
  animation-delay: -0.333333333333333s;
}
.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation-delay: -0.166666666666667s;
  animation-delay: -0.166666666666667s;
}
.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
  -webkit-animation-delay: -0.083333333333333s;
  animation-delay: -0.083333333333333s;
}
.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-spinner {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}