<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>14</TotalTime><Pages>31</Pages><Words>42708</Words><Characters>243438</Characters><Application>Microsoft Macintosh Word</Application><DocSecurity>0</DocSecurity><Lines>2028</Lines><Paragraphs>571</Paragraphs><ScaleCrop>false</ScaleCrop><Company>CSHl</Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>285575</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>14.0000</AppVersion></Properties>