<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>29</TotalTime><Pages>46</Pages><Words>15007</Words><Characters>85542</Characters><Application>Microsoft Macintosh Word</Application><DocSecurity>0</DocSecurity><Lines>712</Lines><Paragraphs>200</Paragraphs><ScaleCrop>false</ScaleCrop><Company>RFUMS</Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>100349</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>14.0000</AppVersion></Properties>